#home-body {
  background-image: url(https://media.istockphoto.com/videos/loopable-soft-background-video-id499964122?s=640x640);
  background-size: cover;
  color: white;
  height: 100vh;
}

#home-header {
  margin: 0 auto;
  padding-top: 42px;
  font-size: 80px;
  letter-spacing: 18px;
  opacity: 0.9;
}
